.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #2C2C2C;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    justify-items: center;
    align-items: flex-start;
}

.title {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
}

img {
    width: 80px;
    height: auto;
}

.data-container {
    text-align: start;
    width: 80%;
}

label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 15px;
}

.container-buttom {
    text-align: center;
}

button {
    background-color: #F15623;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    margin-top: 15px;
    font-size: 18px;
}

button:hover {
    background-color: #bd431b;
}

.error {
    color: rgb(252, 4, 4);
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 10px;
}

h2 {
    margin: 10px;
    padding: 0;
    color: white;
}

.bar {
    background-color: #A8E10C;
    width: 50%;
    height: 3px;
    margin: 0 10px;
    padding: 0;
    border-radius: 50px;
}

.ForgotPassword{
    text-align: end;
    color: #A8E10C;
    font-size: 10px;
    cursor: pointer;
}